# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
env/
.venv/
ENV/

# Python dotenv files
.env

# SQLite DB file
*.db

# Alembic SQLite history (optional)
alembic/versions/*.pyc

# VS Code settings
.vscode/

# OS-specific
.DS_Store
Thumbs.db
